/* CustomFileInput.scss */
.fa, .fas {
margin-left: 5px;
}
.preview-img-container {
    .preview-image {
        height: 150px;
        border: 1px solid #ddd;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        margin-top: 10px;
        border-radius: 4px;

        &:hover {
            opacity: 0.9;
        }
    }
}

.form-control:disabled {
    cursor: not-allowed;
    border-color: #dee2e6;
}
